table {
width: 100%;
border-collapse: collapse;
overflow-x: auto;
display: block;
}

th, td {
border: 1px solid #ddd;
padding: 8px;
}

th {
background-color: #4CAF50;
color: white;
}

@media (max-width: 600px) {
  body {
    font-size: 18px;
  }
  th, td {
    padding: 15px;
  }
}

@media (min-width: 600px) {
table {
display: table;
}
}